<div class="context-box">
    <h2>Create New Listing</h2>
    <app-listing-data-form buttonText="Create Listing"
    (onSubmit)="onSubmit()"></app-listing-data-form>
    <!-- When the button is clicked, the button is set (inside the listing-data-form.component.ts) to call a function "onSubmit",
    which is supposed to be present in the component.ts file, of the component from where the button was clicked. In this case,
    the method/function "onSubmit" would be found in the new-listing-page.component.ts file -->
</div>